extends internal

block content
  h1 About Me
  img(src='/img/me.png')
  :markdown
    Hey, I'm Jeff. I like tinkering with people and computers. I really enjoy creating tools to make peoples’ lives easier, especially when they also make my life easier. While I am currently solving mostly first-world problems, this is only to sharpen up my skills before I start attacking real problems. I also enjoy [teaching](http://thinkful.com) and working on [open source projects](https://github.com/jenius).
