extends layout

block nav
  header
    img(src='/img/logo.svg')
    h1 Jeff Escalante

  nav
    ul
      li
        a(href='about.html')
          .icon
          h2 about
      li
        a(href='work.html')
          .icon
          h2 work
      li
        a(href='writing.html')
          .icon
          h2 writing
      li
        a(href='contact.html')
          .icon
          h2 contact
