extends layout

block content

  header
    img(src='/img/logo.svg')
    h1 Jeff Escalante

  nav
    ul
      li
        a(href='about.html')
        h2 about
      li
        a(href='work.html')
        h2 work
      li
        a(href='writing.html')
        h2 writing
      li
        a(href='contact.html')
        h2 contact
