extends layout

block nav
  header
    a(href='/'): img(src='/img/logo.svg')
    nav
      ul
        li: a(href='about.html') about
        li: a(href='work.html') work
        li: a(href='writing.html') writing
        li: a(href='contact.html') contact
