!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Jeff Escalante | Design, Code, Love
    script(src='/js/modernizr.min.js')
    link(rel='stylesheet', href='css/master.css')
    script(src="//use.typekit.net/tbp0vty.js")
    script.
      try{Typekit.load();}catch(e){}
  body
    block main
    block nav
    block content

  script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js')
  script(src='/js/main.js')
