#about #main

  img
    width: 30%
    display: block
    float: left
    transition()

    @media only screen and (max-width: 700px)
      float: none
      width: 100%
      max-width: 250px
      margin: 0 auto 30px auto

  h1
    border-bottom: 1px solid darken(#7b7a78, 60%)
    padding-bottom: 8px
    font-size: 1.8em
    font-weight: 600
    upcase()
    color: #7b7a78
    margin: 0 0 1em 0

  p
    display: block
    float: left
    width: 70%
    padding-left: 30px
    border-box()
    margin: 0

    @media only screen and (max-width: 700px)
      float: none
      width: 100%
