helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

black = #171717
grey = #7b7a78

font-stack = helvetica-neue
font-size = 16
font-color = grey

default-color = grey
hilight-color = grey

vendors = webkit moz o ms official

img-path = '../img/'

pie-enabled = false
