@import '_settings'
@import '_animations'

normalize()
base()

body
  background: black
  color: grey
  font-family: freight-sans-pro, helvetica
  padding: 50px

#main
  group()
  max-width: 600px
  margin: 50px auto
  font-size: 1.1em
  line-height: 1.6em
  animation: 2s main-adjust
  color: #B0B0B0

  a
    link: #fff
    font-weight: 600

#about, #work, #writing, #contact

  header-spacing = 70px

  header
    group()
    text-align: center
    animation: .7s header-in

    img
      max-width: 47px
      margin-right: header-spacing
      display: inline-block
      margin-bottom: -7px
      animation: .7s spin ease-out-cubic
      animation-delay: .25s

      @media only screen and (max-width: 706px)
        margin-bottom: 30px
        margin-right: 0

    nav
      display: inline-block

      ul
        inline-list: header-spacing
        font-size: 1.2em
        upcase()

        li
          @media only screen and (max-width: 600px)
            margin-right: 40px

      a
        text-decoration: none
        color: #fff
        font-weight: 600
        opacity: .2
        transition()

        &:hover
          opacity: .5

#about nav li:nth-child(1) a
#work nav li:nth-child(2) a
#writing nav li:nth-child(3) a
#contact nav li:nth-child(4) a
  opacity: .5

@import '_index'
@import '_about'
