@import '_settings'
@import '_animations'

normalize()
base()

body
  background: black
  color: grey
  font-family: freight-sans-pro, helvetica
  padding: 50px

header
  text-align: center
  margin-top: 30px

  img
    max-width: 80px
    opacity: .9
    animation: 1s spin ease-out-quad

  h1
    upcase()
    margin: 1em 0
    font-size: 1.3em
    font-weight: 600
    opacity: .6

nav ul
  inline-list: 119px
  max-width: 700px
  margin: 120px auto

  @media only screen and (max-width: 815px)
    max-width: 290px

  @media only screen and (max-width: 415px)
    max-width: 240px

  @media only screen and (max-width: 350px)
    max-width: 205px
    margin-top: 80px

  li
    text-align: center
    margin-bottom: 30px

    @media only screen and (max-width: 815px)
      &:nth-child(2n)
        margin-right: 0

    @media only screen and (max-width: 415px)
      margin-right: 70px

    @media only screen and (max-width: 350px)
      margin-right: 63px

    a
      size: 85px
      display: block
      background-size: cover
      opacity: .2
      transition()

      @media only screen and (max-width: 350px)
        size: 65px

    h2
      font-weight: 700
      font-size: 1em
      upcase()
      opacity: 0
      transition()
      margin-top: 1.6em

      @media only screen and (max-width: 550px)
        opacity: .2
        margin-top: 1em

    &:nth-child(1)
      animation: 1s fade1
      a
        background-image: url('/img/about.svg')

    &:nth-child(2)
      animation: 1.3s fade2
      a
        background-image: url('/img/work.svg')

    &:nth-child(3)
      animation: 1.6s fade3
      a
        background-image: url('/img/writing.svg')

    &:nth-child(4)
      animation: 1.9s fade4
      a
        background-image: url('/img/contact.svg')

    &:hover

      a
        opacity: .4

      h2
        opacity: .2
        margin-top: 1em

